body {
    margin:0;
    background: #00695C;
}
@font-face {
    font-family: 'ComicBook';
    src: url('fonts/comicbook.eot');
    src: url('fonts/comicbook.eot?#iefix') format('embedded-opentype'),
        url('fonts/comicbook.woff') format('woff'),
        url('fonts/comicbook.ttf') format('truetype'),
        url('fonts/comicbook.svg#comic_booknormal') format('svg');
    font-weight: normal;
    font-style: normal;
}